<div *ngIf="(basketService.basket$ | async) as basket">
    <div class="pb-5">
        <div class="pb-5 my-2">
            <app-basket-summary [basket]="basket" hideButtons="true"></app-basket-summary>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-primary" cdkStepperPrevious><i class="fa fa-angle-left"></i> Back to Delivery</button>
    <button class="btn btn-primary" cdkStepperNext>Go to Payment <i class="fa fa-angle-right"></i></button>
</div>