.cart-image {
    max-height: 50px;
}

.remove-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.qty-selector {
    font-size: 1.5em;
    cursor: pointer;
}

.qty-display {
    font-size: 1.25em;
}