#nav-logo {
    max-height: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        border: 1px solid #333;
    }
    &:focus {
        outline: none;
    }
}

#cart-badge {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343A40;
    
    &.active {
        color: orange;
    }
}